{% extends 'base.html' %} {% block content %}

<h1>Plant Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <div class="card-content">
          <span class="card-title">{{ plant.name }}</span>
          <p>Species: {{ plant.species }}</p>
          <p>Description: {{ plant.description }}</p>
          {% if plant.age > 0 %}
          <p>Age: {{ plant.age }}</p>
          {% else %}
          <p>Age: Seedling</p>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="{% url 'plants_update' plant.id %}">Edit</a>
          <a href="{% url 'plants_delete' plant.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_debug' plant.id %}" mothod="post">
      {% csrf_token %} {{ debug_form.as_p }}
      <input type="submit" class="btn" value="Debug" />
    </form>
    <br />
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Pesticide</th>
          <th>Dose</th>
        </tr>
      </thead>
      <tbody>
        {% for debug in plant.debug_set.all %}
        <tr>
          <td>{{debug.date}}</td>
          <td>{{debug.get_pesticide_display}}</td>
          <td>{{debug.dose}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ plant.name }}'s Lights</h3>
    {% if plant.lights.count %} 
      {% for light in plant.lights.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title"> An {{ light.lumen }} {{ light.name }} </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_light' plant.id light.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Lights :(</h5>
    {% endif %}
  </div>

  <div class="col s6">
      <h3>Available Lights</h3>
      {% if lights.count %} 
        {% for light in lights.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title"> An {{ light.lumen }} {{ light.name }} </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_light' plant.id light.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{light.name}} Already Has All Lights Available</h5>
      {% endif %}
    </div>
  </div>
  <script>
    var dateEl = document.getElementById("id_date");
    M.Datepicker.init(dateEl, {
      format: "yyyy-mm-dd",
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true,
    });
    // add additional JS to initialize select below
    var selectEl = document.getElementById("id_pesticide");
    M.FormSelect.init(selectEl);
  </script>
  {% endblock %}
</div>
