nav {
  background-color: #5a7b4e;
}
.nav-wrapper {
  background-color: #5a7b4e;
}
.navbar-fixed {
  background-color: #5a7b4e;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f5ffc6;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #5a7b4e;
}
